.processes_component ul.processes_list {
  list-style: none;
  width: 15%;
  margin: 0px;
  padding: 0px;
  height: 100%;
  border-right: 1px solid #ddd;
  display: inline-block;
}

.processes_component ul a {
  display: block;
  height: 100px;
  background-color: #F7F7F7;
  border-bottom: 1px solid #ddd;
  color: #717171;
  text-decoration: none;
  padding: 4px;
  box-shadow: 1px 1px 12px #E5E5E5 inset;
}

.processes_component ul a.new {
  height: 30px;
}

.processes_component ul a:hover {
  background-color: #E7E7E7;
}

.processes_component label {
  text-transform: uppercase;
  color: #909090;
  width: 100px;
  display: inline-block;
  font-size: 0.7em;
}

.processes_component .process_title {
  padding: 0 0 30px 0;
}

.processes_component .title {
  font-size: 1.2em
}

.processContent {
  display: inline-block;
  position: absolute;
  background-color: #F7F7F7;
  width: 82.9%;
  height: auto;
  border-bottom: 1px solid #ddd;
  border-right: 1px solid #ddd;
  padding: 1%;
  color: #717171;
}

.processes_component .panel-item-details {
  border: 1px solid #BBB;
  border-radius: 3px;
  width: 300px;
  background-color: #FCF9EF;
  font-size: 0.8em;
  margin: 5px 0px 10px 0px;
  color: #303030;
}

.processes_component .panel-item-details div {
  border-bottom: 1px solid #BBB;
  padding: 5px;
}

.processes_component .panel-item-details label {
  font-size: 0.9em;
  width: 150px;
  color: #909090;
}

.processes_component div.panel-detail-actions {
  border-bottom: none;
}
